#game_window{
    display: block;
}

.container{
    padding: 20px;
    height: max-content;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}